DATABASE_HOSTNAME=mysql
DATABASE_USERNAME=train-cat
DATABASE_PASSWORD=---
DATABASE_NAME=train-cat
DATABASE_PORT=3306

AAH_ADDRESS=0.0.0.0
AAH_PORT=80
AAH_ENV=prod
AAH_HOST=api.train.cat

JWT_SIGNING_KEY=--

